RewriteEngine On
RewriteRule ^trang-chu$ index.php
RewriteRule ^gioi-thieu$ index.php?mod=gioithieu&act=view
RewriteRule ^huong-dan$ index.php?mod=huongdan&act=view
RewriteRule ^lien-he$ index.php?mod=lienhe&act=view
RewriteRule ^gio-hang$ index.php?mod=cart&act=view
RewriteRule ^thanh-toan$ index.php?mod=cart&act=pay
RewriteRule ^dang-ky$ index.php?mod=dangky&act=view
RewriteRule ^tai-khoan-cua-toi$ index.php?mod=dangky&act=edit_customer
RewriteRule ^tim-kiem$ index.php?mod=product&act=search_product
RewriteRule ^chi-tiet-san-pham-(.*)=(.*)$ index.php?mod=product&act=detail&id=$1
RewriteRule ^danh-muc-(.*)=(.*)$ index.php?mod=product&act=show_by_category&id=$1
RewriteRule ^ajax-list-product$ index.php?mod=product&act=show_by_category_ajax
RewriteRule ^ajax-list-category$ index.php?mod=product&act=list_category_ajax
RewriteRule ^login$ index.php?mod=home&act=login
RewriteRule ^logout$ index.php?mod=home&act=logout
RewriteRule ^check_username$ index.php?mod=dangky&act=check_username
RewriteRule ^check_email_signup$ index.php?mod=dangky&act=check_email
RewriteRule ^signup$ index.php?mod=dangky&act=signup
RewriteRule ^send_mail_confirm$ index.php?mod=dangky&act=send_mail_confirm
RewriteRule ^add_wishlist$ index.php?mod=product&act=add_wishlist
RewriteRule ^reload_num_favorite_header$ index.php?mod=product&act=ajax_num_favorite_header
RewriteRule ^reload_list_favorite_header$ index.php?mod=product&act=ajax_list_favorite_header
RewriteRule ^delete_wishlist$ index.php?mod=product&act=delete_wishlist
RewriteRule ^add_cart$ index.php?mod=product&act=add_cart
RewriteRule ^add_cart_with_number$ index.php?mod=product&act=add_cart_with_number
RewriteRule ^reload_cart$ index.php?mod=product&act=reload_cart
RewriteRule ^reload_num_cart_and_total$ index.php?mod=product&act=reload_num_cart_and_total
RewriteRule ^remove_from_cart$ index.php?mod=product&act=remove_from_cart
RewriteRule ^remove_from_cart2$ index.php?mod=product&act=remove_from_cart2
RewriteRule ^reload_cart_in_cart_page$ index.php?mod=cart&act=ajax_cart
RewriteRule ^update_number_in_cart_page$ index.php?mod=cart&act=update_number
RewriteRule ^ajax_search_product$ index.php?mod=product&act=ajax_search_product
RewriteRule ^ajax_cart_in_pay$ index.php?mod=cart&act=ajax_cart_in_pay
RewriteRule ^use_my_information$ index.php?mod=cart&act=use_my_information
RewriteRule ^confirm_order$ index.php?mod=cart&act=confirm_order
RewriteRule ^send_mail_order$ index.php?mod=cart&act=send_mail_order
RewriteRule ^check_old_pass$ index.php?mod=dangky&act=check_old_pass
RewriteRule ^do_edit_customer$ index.php?mod=dangky&act=do_edit
RewriteRule ^unset_prompt$ index.php?mod=home&act=unset_prompt
RewriteRule ^reload_list_button_of_product$ index.php?mod=product&act=ajax_list_button_of_product
RewriteRule ^reload_list_button_on_detail$ index.php?mod=product&act=ajax_list_button_on_detail
RewriteRule ^ajax_amount$ index.php?mod=cart&act=ajax_amount
RewriteRule ^do-vote$ index.php?mod=product&act=do_vote
RewriteRule ^ajax_star$ index.php?mod=product&act=ajax_star
RewriteRule ^dang_ky_nhan_tin$ index.php?mod=home&act=newsletter